:root {
  --color-white: #ffffff;
  --ink-950: #071633;
  --ink-800: #1c2944;
  --ink-700: #35415b;
  --slate-700: #46536b;
  --slate-600: #58647a;
  --slate-400: #9ba5b6;
  --slate-300: #c8d0dd;
  --slate-200: #dce2ec;
  --slate-100: #edf1f6;
  --slate-50: #f4f7fb;
  --coral-700: #ce342f;
  --coral-600: #ff4b42;
  --coral-100: #fff0ee;
  --red-700: #9f1f2c;
  --red-600: #b52631;
  --red-100: #ffeaed;
  --amber-700: #795010;
  --amber-600: #9a5c13;
  --amber-100: #fff4dc;
  --blue-700: #364fae;
  --blue-600: #455ec7;
  --blue-100: #edf2ff;
  --green-700: #176f55;
  --green-100: #eef8f5;
}
